@charset "UTF-8";
body{
	background-image:url("../img/ribingu.jpg");
  background-size: cover;
}
.faq_area {
  margin: 0 auto ;
}

.faq_area div {
  width: 100%;
  margin: 0 auto 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq_area dt,
.faq_area dd {
  min-width:80px;
  padding: 10px 15px;
  color: #fff;
  border-radius: 80px;
  background: #0096e5;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.faq_area dt {
  text-align: left;
  background: lightseagreen;
  margin-left:100px;
}

.faq_area dd:before {
  content: "";
  border: 10px solid transparent;
  border-right: 20px solid #0096e5;
  position: absolute;
  left: -120px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: left;
  margin-left:100px;
}

.faq_area dd {
  margin-top: 80px;
  background: #0096e5;
  transform: translate(80px);
}

.faq_area dt:after {
  content: "";
  border: 10px solid transparent;
  border-left: 20px solid lightseagreen;
  position: absolute;
  right: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.in{
	margin: 0 0 0 15px;
	height: 28px;
	width: 9em;
	border-bottom:1px solid #cccccc;
	border-right:none;
	border-left:none;
	border-top:none;
	border-radius:0px;
}
.send,.back {
	cursor:pointer;/*カーソルをポインターに*/
	border-style:none;/*デフォルトのボーダークリア*/
	font-size:130%;
	font-weight:bold;
	color: #fff;
	margin:.5em .5em .5em 0;
	padding:.3em 0 .4em;
	height:40px;
	width:100px;
	background:skyblue;/*背景色を指定*/
	-webkit-border-radius: 5px;/*iOS Safari用のボックスの角丸の指定*/
	border-radius: 5px;/*ボックスの角丸の指定*/
	-webkit-box-shadow: 0 2px 2px 0 #666;/*iOS Safari用ボックスシャドウ*/
	box-shadow: 0 2px 2px 0 #666;/*ボックスシャドウ*/
	text-shadow: 1px 1px 2px #000; /*テキストシャドウ*/
}
/*↓マウスオーバー時の変化。ここでは背景色だけ変更*/
.send:hover,.back:hover {
	background-color: blue;
}
h1 {
  position: relative;
  padding: 0.6em;
  background: #e0edff;
  color: rgb(255, 128, 192);
}

h1:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
  width: 0;
  height: 0;
}
img{
	width:90px;
	height:90px;
	-webkit-transform: translateY(-90px);
    transform: translateY(-90px);
}
/*↓マイページに移動するためのa要素のボタン*/
.mypage {
  transition: .3s; /* 変化時間 0.3秒 */
  padding: 12px 24px; /* 内側の余白設定 */
  border-radius: 12px; /* 要素の角を丸くする */
  background-color: #2ecadf; /* 背景色指定 */
  text-decoration: none; /* aタグの下線を非表示に */
  color: #fff; /* 文字色 */
  font-size: 20px; /* フォントサイズ */
  font-weight: bold;
  -webkit-box-shadow: 0 2px 2px 0 #666;/*iOS Safari用ボックスシャドウ*/
  box-shadow: 0 3px 4px 0 #666;/*ボックスシャドウ*/

}

.mypage:hover { 
  transition: .3s; /* 変化時間 0.3秒 */
  background-color: #1300de; /* 背景色 */
}