@charset "UTF-8";
body{
	background-image:url("../img/mypage.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.accr{
	text-align:center;
	
}
.accr a{
	text-decoration: none;
	color:black;
	text-shadow: 2px 2px 2px #000;
}
h1{
	text-align:center;
}
.login{
	text-align:right;
}
.login a{
	 text-decoration: none;
	 color:blue;
}